/* Color Palette */

--color-primary: #426A5A
--color-secondary: #40476D
--color-accent: #D83148
--color-neutral: #5E7597
--color-highlight: #876991

--color-background: #fffdf4
--color-text-dark: #38302E;
--color-text-light: white;