body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.container {
    max-width: 900px;
}

.volume-display {
    font-size: 1.5rem;
    font-weight: bold;
    color: #dc3232e4;
}

#gameArea {
    position: relative;
    width: 800px;
    height: 450px;
    margin: 0 auto 20px auto;
    background: #eceff6;
    border: 4px solid #dc3232e4;
    overflow: hidden;
}

.mole-btn {
  position: absolute;
  padding: 12px 18px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(56, 111, 162, 0.727);
  border: 2px solid rgb(56, 111, 162);
  color: white;
  box-shadow: 0 4px 8px rgba(155, 207, 226, 0.25);
}

.mole-btn:hover {
  transform: scale(1.08);
}

#startButton,
#endButton {
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
  border: 3px solid #dc3232b5;
}

#finalMessage {
  font-size: 1.2rem;
  font-style: italic;
  color: #dc3232e4;
}