:root {
/* Color Palette */
    --color-background: #fffefa;
    --color-accent: #D83148;
    --brown: #725752;
    --black: #041F1E;
    --olive: #6C7D47;
    --lightblue: #B2CEDE;

    --font-title: "Archivo Black", sans-serif;
    --font-head: "SN Pro", sans-serif;
}

* {
    margin: 4px;
    padding: 4px;
}

p {
    font-family: var(--font-head);
    font-size: 14px;
}

body {
    color: var(--black);
    background-color: var(--color-background);
    font-family: var(--font-head);
}

h1 {
    font-family: var(--font-title);
    text-transform: uppercase;
    color: #fffefa;
}

h2 {
    color: var(--brown);
    font-size: 1.75rem;
    text-align: center;
    font-family: var(--font-title);
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 8px solid #B2CEDE;
    background-color: #725752;
    padding: 16px;
    align-items: baseline;
}

.dropdown {
    font-family: var(--font-head);
    position: relative;
    
}

.dropbtn {
    background-color: var(--color-background);
    color: var(--color-accent);
    text-transform: uppercase;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.dropdown-contents {
    background-color:#fffefaac;
    padding: 4px;
    font-family: var(--font-head);
    font-size: 14px;
    display: none;
    position: relative;
    min-width: 50px;
}

.dropdown-contents a {
    text-align: center;
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-contents a:hover {
    text-decoration: underline;
    background-color: var(--lightblue);
}

.dropdown:hover .dropdown-contents{
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #fffefa8b;
}

.projects {
    text-align: center;
    align-items: center;
}

.physical {
    text-align: center;
    align-items: center;
}

.abthead {
    background-color: #6C7D47;
    color: var(--color-background);
    margin: 16px 16px;
    padding: 16px 32px 16px;
}

.abtul {
    padding: 4px 32px 4px;
}

ul {
    list-style: none;
    padding: 0;
}

li::before {
    align-items: center;
    content: '';
    display:inline-flex;
    width: 28px;
    height: 28px;
    margin-right: 8px;
    background-image: url('blackstar.png');
    image-rendering: optimizeQuality;
    background-size: contain;
    background-repeat: no-repeat;
}


footer {
    font-family: var(--font-head);
}

